* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.flex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

li {
  list-style: none;
}

.container {
  width: 100vw;
  background-color: #000000e5;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.stopwatch {
  /* background: rgb(66, 66, 66); */
  margin: auto;
  width: 85%;
  padding: 2rem 4rem;
  border: 1px solid #27ae61;
  border-radius: 4rem;
  box-shadow: 0 0 5rem #04a871;
  color: #ffffff;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

h1 {
  position: relative;
  width: 100%;
  font-family: Cambria;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
  box-sizing: border-box;
}

h1::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 30%;
  height: 3px;
  margin: auto;
  background-color: #27ae61;
  border-radius: 0.5rem;
  animation: underLine 2s ease;
}

@keyframes underLine {
  0% {
    width: 0%;
  }
  20% {
    width: 100%;
  }
  40% {
    width: 100%;
  }
  80%,
  100% {
    width: 30%;
  }
}

.timer-box {
  /* border: 1px solid #fafafa; */
  border: 2px solid dodgerblue;
  width: 100%;
  margin: 2.5rem 0 1rem;
  padding: 2rem 0;
  flex-wrap: wrap;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: monospace;
}

.btns {
  /* border: 1px solid red; */
  width: 100%;
  padding: 1rem 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}

.btns button {
  background-color: #27ae61;
  color: #fafafa;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btns button:nth-child(1) {
  background-color: goldenrod;
}

.btns button:nth-child(1):hover {
  background-color: #fafafa;
  color: goldenrod;
  font-weight: bolder;
  box-shadow: 0 0 1rem goldenrod;
}

.btns button:nth-child(2):hover {
  background-color: #fafafa;
  color: #27ae61;
  font-weight: bolder;
  box-shadow: 0 0 1rem #04a871;
}

.btns button:nth-child(3) {
  background-color: red;
}

.btns button:nth-child(3):hover {
  background-color: #fafafa;
  color: red;
  font-weight: bolder;
  box-shadow: 0 0 1rem red;
}

.btns button:nth-child(4) {
  background-color: dodgerblue;
}

.btns button:nth-child(4):hover {
  background-color: #fafafa;
  color: dodgerblue;
  font-weight: bolder;
  box-shadow: 0 0 1rem dodgerblue;
}
.hide {
  display: none;
}
.laps {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  height: 350px;
  border-top: 3px solid #fafafa;
  border-radius: 0.3rem;
  overflow: hidden;
}
.laps,
.lapbox {
  width: 100%;
  box-sizing: border-box;
}
.lapbox {
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  margin: 1.5rem 0 0;
}
.lapbox::-webkit-scrollbar {
  display: none;
}
li {
  width: 100%;
  margin: 0 0 0.5rem;
  background: rgba(188, 156, 74, 0.675);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
}
@media screen and (max-width: 610px) {
  .stopwatch {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .stopwatch {
    padding: 2rem 3rem;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .timer-box {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 395px) {
  .stopwatch {
    padding: 2rem;
  }
  h1 {
    font-size: 1rem;
  }
  .timer-box {
    font-size: 1rem;
  }
}
@media screen and (max-width: 255px) {
  .stopwatch {
    padding: 2rem 1.5rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  .timer-box {
    font-size: 0.8rem;
  }
  .btns button {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 100px) {
  h1 {
    font-size: 0.5rem;
  }
  .btns button {
    font-size: 0.5rem;
    padding: 5px;
  }
}
